<!DOCTYPE html>
<html>

  <head>
    <title>Pana Challenge</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.2/backbone.marionette.min.js"></script>

    <link href="assets/css/custom.css" rel="stylesheet">

    <script src="assets/javascripts/app.js"></script>
  </head>
  <body>

    <script type="text/template" id="todo-list">
      <h1>Todos: <%= todosLength %></h1>
      <ul>
      </ul>
      <input type="text" id="myInput" />
      <button id="button">Add</button>
    </script>
    <script type="text/template" id="todo-item">
      <%= name %>
    </script>

    <div id="main">
    </div>
  </body>
</html>
